*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Abel', sans-serif;
  height: 100%;
  background-color: #e1c6b7;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}


.custom-container {
  height: 90vh;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

.custom-toggler  {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .title {
    text-align: center !important;
  }
  .right-block {
    justify-content: center !important;
  }
}

@media (max-width: 767px) {
  .maria {
    text-align: center !important;
    font-size: 80px !important;
  }
  .lead {
    text-align: center !important;
    font-size: 60px !important;
    margin-right: 0px !important;
  }
}

@media (max-width: 991px) {
  .custom-container {
    height: auto;
    padding: 2rem;
  }
  .title {
    text-align: center !important;
  }
  .right-block {
    justify-content: center !important;
    margin-top: 2rem;
  }
  }

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80%;
  opacity: 0.8;
}
.btn-outline-dark {
  color: whitesmoke;
  border-color: #c69279;
  background-color: #c69279;
  font-size: 30px;
}

.row .img-equal-size {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.maria {
  font-size: 180px;
  font-weight: bold;
  color: black;
  margin-top: 130px;
}


.lead {
  font-size: 60px;
  color: black;
}

.navbar {
  background-color: #FBEEDA;
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-family: 'Abel', sans-serif;
}


.navbar-nav {
  margin: 0 auto;
}

.navbar a:hover {
  text-decoration: none;
  font-family: 'Abel', sans-serif;
  font-size: 23px;
}


.funky {
   font-family: 'Abel', sans-serif;
   color: #ff6403;
   font-weight: bold;
   margin: 0;
   cursor: pointer;
   border: 0;
   background-color: #FBEEDA;
}

.funky-image {
  /* Ajoutez ici les styles souhaités pour l'image */
  width: 60px;
  color: black;
  transform: rotate(250deg);
}

h2, h4 {
  margin-bottom: 0px;
}

.img-fluid {
  width: 100%;
  height: auto;

}


.circle-icon {
  display: inline-block;
  width: 30px; /* Ajustez la taille du cercle selon vos besoins */
  height: 30px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  line-height: 50px;
  margin: 3px;
  background-color: #FBEEDA /* Espace entre les icônes */
}

.fab {
  font-size: 20px;
  color: black;
}
.video-container {
  width: 100%;
  max-width: 600px; /* Ajustez la largeur maximale selon vos besoins */
  border: 4px solid #f7d298; /* Ajoutez cette ligne en utilisant la couleur du conteneur */
}

.video-player {
width: 100%;
height: 100%;
object-fit: contain;
z-index: 0;
border: 4px solid #f7d298;
}

.pate {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-devant {
  color: black;
  font-size: 30px;
  font-family: 'Abel', sans-serif;
  padding: 20rem;
}

.text-devant-2 {
  color: white;
  font-size: 24px;
  font-family: 'Abel', sans-serif;
  padding-left: 15px;
}

.food {
  height: 100%; /* La hauteur de la div est définie à 100% */
  background-color: #5B613A;
  padding: 20px; /* Vous pouvez ajuster la marge intérieure selon vos préférences */
  display: flex; /* Utilisation de flexbox pour aligner verticalement le contenu */
  flex-direction: column; /* Aligner le contenu en colonne */
  justify-content: center; /* Centrer le contenu verticalement */
}

.text-devant-3 {
  color:white;
  font-size: 24px;
  font-family: 'Abel', sans-serif;
  text-align: right;
  padding-right: 15px;
}

.bienvenue {
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  text-transform: uppercase;
  line-height: 1.25;
  margin: 0.15em 0px;
  padding: 0px;
  font-size: 100px;
  text-align: center;
  color: black;
  margin-top: 100px;
  margin-bottom: 100px;

}

.dicton {
  font-weight: 800;
  letter-spacing: 0em;
  text-transform: uppercase;
  line-height: 1.25;
  padding: 0px;
  font-size: 80px;
  text-align: center;
  color: #ff6403;
  font-family: "Nixie one";
}

.btn-pizzas {
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  color: black;
  border-color: #c69279;
  background-color: #c69279;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-pizzas-2 {
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  color:white;
  border-color: #c69279;
  background-color: #c69279;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 15px;
}

.btn-pizzas-3 {
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  color:white;
  border-color: #c69279;
  background-color: #c69279;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 15px;
}


footer {
  background-color: #FBEEDA;
  font-size: 18px;
  margin: 0 auto;
  padding: 40px;
  border-top: 0.5px solid #f7d298;
  font-family: 'Abel', sans-serif;
}

footer a {
  color: black;
  font-family: 'Abel', sans-serif;
  text-decoration: none;
}

footer a:hover {
  color: #f7d298;
}

.contact{
  margin-bottom: 1rem;
}
.text{
  font-family: 'Abel', sans-serif;
  text-align: center;
  font-size:45px;
  margin-top: 150px;
  margin-bottom: 100px;
}


.copyright {
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Abel', sans-serif;
}
